<div *ngIf="customer">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-3">
        <img src="images/{{customer.gender | lowercase}}.png" class="card-big" />
      </div>
      <div class="col-md-9">
        <h4>    
            {{ customer.firstName | capitalize }} {{ customer.lastName | capitalize }}&nbsp;          
        </h4>
        <br />
        {{ customer.address }}
        <br />
        {{ customer.city }}, {{ customer.state.name }}
      </div>
    </div>
  </div>    
</div>   
<div *ngIf="!customer" class="row">
   No customer found
</div>  